body {
    background-color: bisque;
}


.candidate{
    font-size: 20px;

}

.bio h1{
    font-family: Helvetica, sans-serif;
    font-size: 50px; 
    text-align: center;
  

}



 

.committees{
    font-size: 20px;
    
    
    
}

.enacted li {
    font-size: 20px;

    
}
